section {
    min-height: 100vh;
    display: flex;
    position: relative;
}

.container {
    width: 100%; // Ultimate width
    max-width: 81.0rem; // max-width to constrain it, set within 100s for proper centering
    margin: auto; // Sets the top/bottom and left/right to auto which centers vertically and horizontally, set parent to flex container
    @media(max-width: 991px){
        padding: 0 5rem;
    }
}

.fifty-section {
    &--intro {
        background-image: url('/assets/images/intro.jpg');
        color: white;
        .logo {
            display: block;
            max-width: 11.2rem;
            margin: 0 auto;
            margin-bottom: 3.2rem;
            img {
                width: 100%;
            }
        }
        .headline-text {
            font-family: 'LunchType-Regular', sans-serif;
            font-weight: 400;
        }
    }
    &--days {
        overflow: hidden;
        .container {
            text-align: center;
            z-index: 2;
        }
        &__day-text {
            font-size: 2.8rem;
            color: #FFEECF;
            margin-bottom: 4.8rem;
            line-height: 1;
            @media(max-width: 40.0rem){
                color: black;
            }
        }
        &__artist {
            font-size: 5.6rem;
            line-height: 1;
            margin-bottom: 0.6rem;
            font-weight: 500;
            @media(max-width: 767px){
                font-size: 4.4rem;
            }
            @media(max-width: 530px){
                font-size: 3.88rem;
                line-height: 1.2;
            }
        }
        ul {
            list-style: none;
            & > li {
                margin-bottom: 2.4rem;
            }
        }

        // Individual background colors
        &.day1 {background-color: #FD76A7;}
        &.day2 {background-color: #1BB190;}
        &.day3 {background-image: url('/assets/images/day-3.jpg')}
    }
}

.marquee {
    position: absolute;
    top: 3vh;
    left: 0;
    font-size: 5vw;
    line-height: 1.2;
    overflow: hidden;
    width: 100%;
    font-family: 'LunchType-Medium', sans-serif;
    span {
        white-space: nowrap;
        display: block;
    }
}

.down-chevron {
    display: block;
    max-width: 6.4rem;
    height: 3.2rem;
    position: absolute;
    bottom: 3rem;
    /* margin: 0 auto; */
    left: 50%;
    transform: translate(-50%, -50%);
    img {
        width: 100%;
        height: 100%;
    }
}